/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
  width: 100%;
  height: 100%;
}

.mainContainer {
  min-height: 80vh;
}

:global {
  html {
    background-color: #e9eaec;
    font-size: calc(1em + 1vw);
  }
  @media screen and (min-width: 50em) {
    html {
      font-size: 1.5vw;
    }
  }
  @media screen and (min-width: 75em) {
    html {
      font-size: 1em;
    }
  }
  a {
    text-decoration: none;
  }
}
